awscli==1.16.309
beautifulsoup4==4.8.2
botocore==1.13.45
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.1
configparser==4.0.2
crayons==0.3.0
docutils==0.15.2
EasyProcess==0.2.8
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.4
MarkupSafe==1.1.1
nltk==3.4.5
pyasn1==0.4.8
python-dateutil==2.8.1
PyVirtualDisplay==0.2.5
PyYAML==5.2
rake-nltk==1.0.4
requests==2.22.0
rsa==3.4.2
s3transfer==0.2.1
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.25.7
webdriver-manager==2.3.0
Werkzeug==0.16.0
xvfbwrapper==0.2.9
