<html>
    <head>
        <title>LiJB Xtract</title>
    </head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    
    <body>

        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" >
            
   
            <main class="mdl-layout__content">

                <div class="mdl-grid">
                        <h4>Ranked Keywords</h3><br>
                        <div class="viewBox">
                            {%for keyword in keywords%} 
                                <span class="mdl-chip">
                                    <span class="mdl-chip__text">{{keyword}}</span>
                                </span>
                            {%endfor%}
                        </div>
                </div>
            
                <div class="mdl-grid">
                        <h4>Must Haves</h3><br>
                        <div class="viewBox">
                            {%for keyword in must%} 
                            <span class="mdl-chip">
                                <span class="mdl-chip__text">{{keyword}}</span>
                            </span>
                        {%endfor%}
                        </div>
                </div>

                <div class="mdl-grid">
                  
                    <h4>Original Content</h4>
                    <div class="viewBox">
                        {{html|safe}}
                    </div>
                        
                    </div>
                

            </main>
        </div>

    </body>

    <style>
        
        h4{
            margin-left: 20px;
        }

        .viewBox {
            margin-left: 20px;
            margin-right: 20px;
            width: 100%;
            display: block;
        }
    </style>
   
</html>